

@charset "utf-8";
.wrapper {
 display: grid;
 grid-template-columns: 70% 30%;
 grid-gap: 1em;
 overflow-x: hidden;
}
.wrapper>article {
    background: rgb(102, 24, 24);
    padding: 1em;
   }
   .wrapper>article:nth-child(odd) {
    background: rgb(189, 71, 17);
   }